# Copy this file to .env.local and paste the Google Apps Script Web app URL.
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzfCLWP2niYiTNmZnwKbCYGI7emOFqoy0Kf6alS8vjgjRIL-JKPdUTG4mD1fruB1g9Y/exec
